@charset "utf-8";
/* CSS Document */

.hizalama{
	margin-left: 1460px;
	padding-top: 300px;
	
	
	
}

.hizalama2{
	margin-left: 1100px;
	margin-top: 10px;
	font-size: 80px;
}

.kutu{
	width: 650px;
	height: 100px;
	margin-left: 990px;
	padding: 0px;
	
}



.kutu2{
	background-color: black;
	height: 40px;
	width: 150px;
	margin-left: 1490px;
	margin-top: 50px;
	line-height: 40px;
	text-align: center;
	
}

a{
	text-decoration: none;
	color: white;
}

.kutuu3{
	
	width: 650px;
	height: 100px;
	margin-left: 460px;
	padding: 0px;
	
	
}


.kutuu4{
	
	color: white;
	background-color: white;
	height: 40px;
	width: 150px;
	margin-left: 500px;
	margin-top: 50px;
	text-align: center;
	line-height: 35px;
}

.hizalamax{
	margin-left: 505px;
	padding-top: 300px;
	
	
	
	
}

.hizalama2z{
	margin-left: 500px;
	margin-top: 10px;
	font-size: 80px;
}

#kutu3{
	width: 1300px;
	margin-left: 400px;
	
	
	
}

.hizalama3{
	margin-left: 800px;
	
}

.hizalama4{
	margin-left: 700px;
	
	}

.pozisyon{
	position: absolute;
}


.women{
	margin-left: 1130px;
	margin-top: 90px
}


	
.box1{
	width: 455px;
	height: 236px;
	background-color: black;
	margin-top: 120px;
	margin-left: 650px;
	float: left;
	
}

.box2{
	margin-left: 1160px;
	margin-top: 120px;
	background-color: black;
	width: 555px;
	height: 673px;
	
	
	
}

.box3{
	width: 555px;
	height: 407px;
	background-color: black;
	margin-left: 560px;
	padding: 0px;      	
}










.content2 img{
	
	margin-top: 100px;
	position: relative;
	
	
}





































	
	
	
	
	






























